<head><link href=".././css/styles.css?e8177695b3464213a58a" rel="stylesheet"></head><footer class="footer mt-5">
  <div class="container px-4 px-md-0 py-3 footer-wrap">
    <div class="row my-4">
      <div class="col-md-4">
        <picture>
          <source media="(min-width:650px)" srcset="images/yoap-white@3x.png">
          <source media="(min-width:465px)" srcset="images/yoap-white@2x.png">
          <img src="images/yoap-white.png" class="footer-logo" alt="요앞로고">
        </picture>
      </div>
      <div class="col-md-4">
        <a href="#;">자주 묻는 질문</a>
      </div>
      <div class="col-md-4">
        <a href="#;">회사소개</a>
        <a href="#;">광고의뢰</a>
        <a href="#;">요앞 서비스</a>
      </div>
      <div class="col-md-4">
        <a href="#;">이용약관</a>
        <a href="#;">개인정보 처리방침</a>
        <a href="#;">위치기반 서비스 이용약관</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <small>2021 &copy; YOAP</small>
      </div>
      <ul class="col-10 text-right sns-group">
        <li>
          <a href="#;" class="icon icon-youtube">
            <span class="sr-only">유튜브</span>
          </a>
        </li>
        <li>
          <a href="#;" class="icon icon-insta">
            <span class="sr-only">인스타그램</span>
          </a>
        </li>
        <li>
          <a href="#;" class="icon icon-facebook">
            <span class="sr-only">페이스북</span>
          </a>
        </li>
        <li>
          <a href="#;" class="icon icon-naver">
            <span class="sr-only">네이버블로그</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer><script src=".././js/index.bundle.js?e8177695b3464213a58a"></script>