<head><link href=".././css/styles.css?e8177695b3464213a58a" rel="stylesheet"></head><meta name="viewport" content="width=device-width, initial-scale=1">

<!-- favicon.ico in the root directory -->
<link rel="apple-touch-icon" href="favicon.ico">

<meta name="theme-color" content="#ff1400">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Owl Carousel -->
<link rel="stylesheet" href="/css/owl.carousel.min.css" />
<script src="/js/owl.carousel.min.js"></script><script src=".././js/index.bundle.js?e8177695b3464213a58a"></script>