<head><link href=".././css/styles.css?e8177695b3464213a58a" rel="stylesheet"></head><header class="header">
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
    <div class="container">
      <a href="/index.html" class="navbar-brand">
        <span>우리동네</span>
        <picture>
          <source media="(min-width:650px)" srcset="images/logo@3x.png">
          <source media="(min-width:465px)" srcset="images/logo@2x.png">
          <img src="images/logo.png" alt="YOAP Logo">
        </picture>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="menu">
        <!-- <div class="search text-center"> -->
        <div class="form-row w-90 col-md-15 col-lg-9 mb-md-3 mb-lg-0">
          <div class="form-group col-5">
            <select class="form-control">
              <option value="">주소 설정</option>
              <option value="1">주소</option>
            </select>
          </div>
          <div class="form-group col-11 inner-icon">
            <input type="text" class="form-control" placeholder="검색">
            <button type="button" class="icon icon-search">
              <span class="sr-only">검색</span>
            </button>
          </div>
        </div>
        <!-- </div> -->
        <ul class="navbar-nav ml-2 flex-row">
          <li class="nav-item mx-2">
            <a href="#;" class="btn btn-outline-primary">
              <i class="icon icon-app icon-appstore"></i>
              <span>App Store</span>
            </a>
          </li>
          <li class="nav-item mx-2">
            <a href="#;" class="btn btn-outline-primary">
              <i class="icon icon-app icon-googleplay"></i>
              <span>Google Play</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header><script src=".././js/index.bundle.js?e8177695b3464213a58a"></script>